* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

.post {
  background-color: rgb(241, 237, 237);
  padding: 10px;
  margin-bottom: 5px;
}
